input.quantity {
    width: 50px; 
    height: 44px;
    text-align: center;
    border-radius: 3px;
    border: 0px;
    background-color: $very-light-gray;
    font-size: $quantity-text-size;
    font-weight: 700;
    padding-left: 0px;
    padding-right: 0px;
}