.icons{
    &.customer-info-search{
        position:absolute; 
        top:4px; 
        right:4px;
    }

    &.qdl-icon-search{
        color: $red;
    }

    &.icon-calendar{
        color: $red;
        display: flex;
        justify-content: flex-end;
        margin-right:10px;
        margin-top:-30px;
    }

    &.icon-collapsible{
        margin-top:5px;
        height:30px;
        width:30px;
    }
}

.ciscoMerakiLogo {
    margin-left:auto; 
    margin-right:auto; 
    height:40px; 
    width:220px;
}