.museo { font-family:"Museo", $default-font-family; }
.museoLight { font-family:"MuseoLight", $default-font-family; }
.museoMedium { font-family:"MuseoMedium", $default-font-family; }
// .museoHeavy { font-family:"MuseoHeavy", $default-font-family; }

.avenir { font-family: "AvenirLTStd", $default-font-family; }
// .avenirLight { font-family: "AvenirLTStd-Light", $default-font-family; }
// .avenirMedium { font-family: "AvenirLTStd-Medium", $default-font-family; }
.avenirHeavy { font-family: "AvenirLTStd", $default-font-family; font-weight:700; }
// .avenirBlack { font-family: "AvenirLT-Black", $default-font-family; }