
<!doctype html>
<html lang="en">
    <!--Coded by Chelsi, Template from original index.html-->
    <!-- test -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Solution Builder</title>

    <link rel="stylesheet" href="css/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/font-family.css">
    <link rel="stylesheet" href="css/main.css">
    
</head>
<body class="solution-builder">
    <header class="header">
        <div class="d-none d-lg-block">
            <nav class="navbar navbar-expand-lg navbar-light bg-white p-sm-0">
                <div class="container">
                    <span class="navbar-brand col-lg-2 text-sm-left">
                        <a href="index.html" class="col-lg text-sm-left">
                            <img src="img/singtel-logo.png" alt="Singtel" style="width:91px;">
                        </a>
                    </span>
                    <span class="col-lg">
                        <button class="navbar-toggler navbar-link pull-left" type="button" data-toggle="collapse"
                            data-target="#navBarToggle" aria-controls="navBarToggle" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navBarToggle">
                            <ul class="nav navbar-nav navbar-center col">
                                <li class="nav-item active ml-auto">
                                    <a class="nav-link text-left" href="SDLan.html">SD Lan</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link text-left" href="MSCloud.html">Managed Public Cloud</a>
                                </li>
                                <li class="nav-item active mr-auto">
                                    <a class="nav-link text-left" href="CyberSecurity.html">Cyber Security</a>
                                </li>
                            </ul>
                        </div>
                    </span>
                    <div class="col-lg-2">
                        <span class="nav-item navbar-cart active pr-2">
                            <a class="fa-stack fa-lg mr-2">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                                <span class="fa-stack fa-1x pill">
                                    <i class="fa fa-circle red fa-stack-2x"></i>
                                    <i class="fa fa-stack-1x white avenir">2</i>
                                </span>
                            </a>
                            
                            <a class="fa-stack fa-lg ml-2">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </nav>
        </div>
        <div class="d-lg-none">
            <div class="pos-f-t">
                <nav class="navbar navbar-light bg-white">
                    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand-mobile" href="index.html">
                        <img src="img/singtel-logo.png" alt="Singtel" style="width:91px;">
                    </a>
                    <span class="nav-item navbar-right navbar-cart-mobile active">
                        <a class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                            <span class="fa-stack fa-1x pill">
                                <i class="fa fa-circle red fa-stack-2x"></i>
                                <i class="fa fa-stack-1x white avenir">2</i>
                            </span>
                        </a>
                    </span>
                </nav>
            </div>
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-white p-4">
                    <ul class="nav navbar-nav navbar-center col">
                        <li class="nav-item active">
                            <a class="nav-link text-left" href="SDLan.html">SD Lan</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-left" href="MSCloud.html">Managed Public Cloud</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-left" href="MSCloud.html">Cyber Security</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-left" href="quotation-draft-list.html">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <article class="main background-very-light-gray pb-2">
        <div class="d-none d-lg-block">
            <section class="hero d-flex align-items-center" style="background-image: url(img/hero4.jpg)">
                <div class="container">
                    <h2 class="leading-text mb-0">Our Available Plans</h2>
                </div>
            </section>
        </div>
        <div class="d-none d-md-block d-lg-none">
            <section class="hero-tablet d-flex align-items-center" style="background-image: url(img/hero4-mobile.png)">
                <div class="container">
                    <h2 class="hero-tablet-title mb-0">Our Available Plans</h2>
                </div>
            </section>
        </div>
        <div class="d-block d-sm-none">
            <section class="hero-mobile d-flex align-items-center" style="background-image: url(img/hero4-mobile.png)">
                <div class="container">
                    <h2 class="hero-mobile-title mb-0">Our Available Plans</h2>
                </div>
            </section>
        </div>
        <div class="container">
            <section class="card shadow">
                <div class="card-body p-sm-5">
                    <h2 class="title-text-inside mb-5 text-center">Singtel partners trusted cloud providers:</h2>
                
                    <div class="row mb-3">
                        <div class="col special-text">What is your favourite series?</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 mb-3">
                            <a href="javascript:void(0);" class="card border" data-toggle="tooltip" data-placement="top" title="">
                                <div class="position-absolute ml-2 mt-2"><i class="fas fa-check-circle"></i></div>
                                <div class="card-body">
                                    <div class="d-block text-center">
                                        <img class="m-3" src="img/aws-logo.png" style="height:35px;"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 mb-3"> 
                            <a href="javascript:void(0);" class="card border" data-toggle="tooltip" data-placement="top" title="">
                                <div class="position-absolute ml-2 mt-2"><i class="fas fa-check-circle"></i></div>
                                <div class="card-body">
                                    <div class="d-block text-center">
                                        <img class="m-3" src="img/microsoft-logo.png" style="height:35px;"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="mb-3 mt-3 special-text">What is your choice from Amazon web services?</div>
                    <div class="row">
                        <div class="col-md-4 col-lg-3 mb-3">
                            <a href="javascript:void(0);" class="card border" data-toggle="tooltip" data-placement="top" title="">
                                <div class="position-absolute ml-2 mt-2"><i class="fas fa-check-circle"></i></div>
                                <div class="card-body">
                                    <div class="pt-4 pb-4 text-center">Virtual Machine
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-lg-3 mb-3"> 
                            <a href="javascript:void(0);" class="card border" data-toggle="tooltip" data-placement="top" title="">
                                <div class="position-absolute ml-2 mt-2"><i class="fas fa-check-circle"></i></div>
                                <div class="card-body">
                                    <div class="pt-4 pb-4 text-center">Fabric
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <h2 class="title-text text-center mt-5 mb-5">Managed Plan for AWS</h2>
            <section class="mb-5">
                <div class="d-none d-lg-block">
                    <div class="row">
                        <div class="col-md m-0 pl-1 pr-1 text-center font-size-16-lg font-size-14">
                            <div class="card border shadow">
                                <div class="card-body text-center p-3" style="overflow:hidden;">
                                    <div class="d-flex flex-row justify-content-center" style="height: 50px;">
                                        <div class="avenirHeavy">Tiers Plans</div>
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >Quantity</div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >SLA</div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >Monitoring</div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >Patching</div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >Security</div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >Work Loads</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md m-0 pl-1 pr-1">
                            <div class="card border shadow">
                                <div class="card-body p-3 text-center">
                                    <div style="height:50px; overflow: hidden;">
                                        <div class="avenirHeavy">Premium</div>
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                        
                                            <a href="#"><i class="fa fa-minus fa-fw red font-size-20"></i></a>
                                            <input class="quantity" placeholder="1" value="1" type="" name="" id="">
                                            <a href="#"><i class="fa fa-plus fa-fw red font-size-20"></i></a>
                                        
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height">
                                        
                                            <span>2 Hrs Restore, 2 Hrs SLA on P1 events.</span>
                                        
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                        
                                            <span>Full Proactive Management</span>
                                        
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                        
                                            <span>Monthly</span>
                                        
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                    
                                            <span>4 Hrs SLA on Urgent Security Patch's</span>
                                    
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                        
                                            <span>Mission critical production / business critical servers</span>    
                                        
                                    </div>                                                            
                                </div>
                            </div>
                        </div>
                        <div class="col-md m-0 pl-1 pr-1">
                            <div class="card border shadow">
                                <div class="card-body p-3 text-center">
                                    <div style="height:50px; overflow: hidden;">
                                        <div class="avenirHeavy">Advanced</div>
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                         
                                        <a href="#"><i class="fa fa-minus fa-fw red font-size-20"></i></a>
                                        <input class="quantity" placeholder="1" value="1" type="" name="" id="">
                                        <a href="#"><i class="fa fa-plus fa-fw red font-size-20"></i></a>
                                    
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                         
                                            <span>4 Hrs Restore, 4 Hrs SLA on P1 events. (Clock stops for after-Hrs)</span>
                                        
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                         
                                            <span>Full Proactive Management</span>
                                        
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                         
                                            <span>Monthly</span>
                                         
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                         
                                            <span>6 Hrs SLA on Urgent Security Patch's</span>    
                                        
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                         
                                            <span>Less business critical servers - some development / test</span>
                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md m-0 pl-1 pr-1">
                            <div class="card border shadow">
                                <div class="card-body p-3 text-center">
                                    <div style="height:50px; overflow: hidden;">
                                        <div class="avenirHeavy">Essential</div>
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                         
                                            <a href="#"><i class="fa fa-minus fa-fw red font-size-20"></i></a>
                                            <input class="quantity" placeholder="1" value="1" type="" name="" id="">
                                            <a href="#"><i class="fa fa-plus fa-fw red font-size-20"></i></a>
                                        
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height">
                                         
                                            <span>10 Hrs Restore<br/> 10 Hrs SLA on P1 events.<br/>(Clock stops for after-Hrs)</span>
                                        
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                         
                                            <span>Full Proactive Management</span>
                                         
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                         
                                            <span>Monthly</span>
                                      
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                         
                                            <span>12 Hrs SLA on Urgent Security Patch's</span>    
                                        
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                         
                                            <span>Non-critical business servers - development / tests, etc.</span>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md m-0 pl-1 pr-1">
                            <div class="card border shadow">
                                <div class="card-body p-3 text-center">
                                    <div style="height:50px; overflow: hidden;">
                                        <div class="avenirHeavy">Stateless</div>
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                         
                                            <a href="#"><i class="fa fa-minus fa-fw red font-size-20"></i></a>
                                            <input class="quantity" placeholder="1" value="1" type="" name="" id="">
                                            <a href="#"><i class="fa fa-plus fa-fw red font-size-20"></i></a>
                                         
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height pt-0" >
                                         
                                            <span>10 Hrs Restore<br/>(unless impacting of the underlying service,<br/> then 2 Hrs restoration)</span>
                                    
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                         
                                            <span>No Proactive Management</span>
                                        
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                         
                                            <span>Monthly</span>
                                        
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                         
                                            <span>4 Hrs SLA on Urgent Security Patch's</span>    
                                        
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height" >
                                         
                                            <span>Production / DR workloads in auto-scaling, self-healing architecture</span>    
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--SLIDER TEST-->
               <div class="d-block d-lg-none">
                    <div class="row">
                        <div class="col-md-3 pr-0">
                            <div class="card border shadow">
                                <div class="card-body text-center p-3" style="overflow:hidden;">
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height-mobile">
                                        <div class="avenirHeavy">Tiers Plans</div>
                                    </div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height-mobile">Quantity</div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height-mobile">SLA</div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height-mobile">Monitoring</div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height-mobile">Patching</div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height-mobile">Security</div>
                                    <div class="d-flex flex-row justify-content-center align-items-center table-row-height-mobile">Work Loads</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 pl-2">
                            <div id="tierplans-slider">
                                <ul class="scroll-row-ul">
                                    <li class="scroll-row-li pr-2">
                                        <div class="card border shadow">
                                            <div class="card-body p-3 text-center">
                                                <div class="d-flex flex-row justify-content-center align-items-center table-row-height-mobile">
                                                    <div class="avenirHeavy">Premium</div>
                                                </div>
                                                <div class="d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                        <a href="#"><i class="fa fa-minus fa-fw red font-size-20"></i></a>
                                                        <input class="quantity" placeholder="1" value="1" type="" name="" id="">
                                                        <a href="#"><i class="fa fa-plus fa-fw red font-size-20"></i></a>
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>2 Hrs Restore, 2 Hrs SLA on P1 events.</span>
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>Full Proactive Management</span>
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>Monthly</span>
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>4 Hrs SLA on Urgent Security Patch's</span>
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>Mission critical production / business critical servers</span>    
                                                </div>                                                            
                                            </div>
                                        </div>
                                    </li>
                                    <li class="scroll-row-li pr-2">
                                        <div class="card border shadow">
                                            <div class="card-body p-3 text-center">
                                                <div class="d-flex flex-row justify-content-center align-items-center table-row-height-mobile">
                                                    <div class="avenirHeavy">Advanced</div>
                                                </div>
                                                <div class="d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <a href="#"><i class="fa fa-minus fa-fw red font-size-20"></i></a>
                                                    <input class="quantity" placeholder="1" value="1" type="" name="" id="">
                                                    <a href="#"><i class="fa fa-plus fa-fw red font-size-20"></i></a>
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>4 Hrs Restore, 4 Hrs SLA on P1 events. (Clock stops for after-Hrs)</span>
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>Full Proactive Management</span>
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>Monthly</span>
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>6 Hrs SLA on Urgent Security Patch's</span>   
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>Less business critical servers - some development / test</span>
                                                </div>                                                            
                                            </div>
                                        </div>
                                    </li>
                                    <li class="scroll-row-li pr-2">
                                        <div class="card border shadow">
                                            <div class="card-body p-3 text-center">
                                                <div class="d-flex flex-row justify-content-center align-items-center table-row-height-mobile">
                                                    <div class="avenirHeavy">Essential</div>
                                                </div>
                                                <div class="d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                        <a href="#"><i class="fa fa-minus fa-fw red font-size-20"></i></a>
                                                        <input class="quantity" placeholder="1" value="1" type="" name="" id="">
                                                        <a href="#"><i class="fa fa-plus fa-fw red font-size-20"></i></a>
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>10 Hrs Restore 10 Hrs SLA on P1 events. (Clock stops for after-Hrs)</span>
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>Full Proactive Management</span>
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>Monthly</span>
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>12 Hrs SLA on Urgent Security Patch's</span>    
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>Non-critical business servers - development / tests, etc.</span>
                                                </div>                                                            
                                            </div>
                                        </div>
                                    </li>
                                    <li class="scroll-row-li pr-2">
                                        <div class="card border shadow">
                                            <div class="card-body p-3 text-center">
                                                <div class="d-flex flex-row justify-content-center align-items-center table-row-height-mobile">
                                                    <div class="avenirHeavy">Stateless</div>
                                                </div>
                                                <div class="d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                        <a href="#"><i class="fa fa-minus fa-fw red font-size-20"></i></a>
                                                        <input class="quantity" placeholder="1" value="1" type="" name="" id="">
                                                        <a href="#"><i class="fa fa-plus fa-fw red font-size-20"></i></a>
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>10 Hrs Restore (unless impacting of the underlying service, then 2 Hrs restoration)</span>
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>No Proactive Management</span>
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>Monthly</span>
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>4 Hrs SLA on Urgent Security Patch's</span>    
                                                </div>
                                                <div class=" d-flex flex-row justify-content-center align-items-center table-row-height-mobile" >
                                                    <span>Production / DR workloads in auto-scaling, self-healing architecture</span>    
                                                </div>                                                            
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
               </div>

               <div class="d-none">
                    <button type="button" class="btn btn-singtel-go-primary btn-lg" data-toggle="modal" data-target="#myModal">
                        View Managed Plans for AWS
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" style="background-color: transparent">
                                <div class="modal-head">
                                    <div class="card border shadow">
                                        <div class="card-body text-center p-3">
                                            <div class="museoMedium">Scroll to view content</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body" style="max-width: 100%; overflow-x: auto;">
                                    <div class="scroll-tree">
                                        <div class="list-group" ng-repeat="item in items" style="width:220px; float:left; margin-left:10px;"> 
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Tier Plan</div>
                                                <span>Premium</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Quantity</div>
                                                <a href="#"><i class="fa fa-minus fa-fw red font-size-20"></i></a>
                                                <input class="quantity" placeholder="1" value="1" type="" name="" id="">
                                                <a href="#"><i class="fa fa-plus fa-fw red font-size-20"></i></a>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">SLA</div>
                                                <span>4 Hrs Restore, 4 Hrs SLA on P1 events. (Clock stops for after-Hrs)</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Monitoring</div>
                                                <span>Full Proactive Management</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Patching</div>
                                                <span>Monthly</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Security</div>
                                                <span>4 Hrs SLA on Urgent Security Patch's</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Work Loads</div>
                                                <span>Mission critical production / business critical servers</span>    
                                            </div>
                                        </div>
                                        <div class="list-group" ng-repeat="item in items" style="width:220px; float:left; margin-left:10px;"> 
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Tier Plan</div>
                                                <span>Advanced</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Quantity</div>
                                                <a href="#"><i class="fa fa-minus fa-fw red font-size-20"></i></a>
                                                <input class="quantity" placeholder="1" value="1" type="" name="" id="">
                                                <a href="#"><i class="fa fa-plus fa-fw red font-size-20"></i></a>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">SLA</div>
                                                <span>4 Hrs Restore, 4 Hrs SLA on P1 events. (Clock stops for after-Hrs)</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Monitoring</div>
                                                <span>Full Proactive Management</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Patching</div>
                                                <span>Monthly</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Security</div>
                                                <span>6 Hrs SLA on Urgent Security Patch's</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Work Loads</div>
                                                <span>Less business critical servers - some development / test</span>    
                                            </div>
                                        </div>
                                        <div class="list-group" ng-repeat="item in items" style="width:220px; float:left; margin-left:10px;"> 
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Tier Plan</div>
                                                <span>Essential</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Quantity</div>
                                                <a href="#"><i class="fa fa-minus fa-fw red font-size-20"></i></a>
                                                <input class="quantity" placeholder="1" value="1" type="" name="" id="">
                                                <a href="#"><i class="fa fa-plus fa-fw red font-size-20"></i></a>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">SLA</div>
                                                <span>10 Hrs Restore, 10 Hrs SLA on P1 events. (Clock stops for after-Hrs)</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Monitoring</div>
                                                <span>Full Proactive Management</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Patching</div>
                                                <span>Monthly</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Security</div>
                                                <span>12 Hrs SLA on Urgent Security Patch's</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Work Loads</div>
                                                <span>Non-critical business servers - development / tests, etc.</span>    
                                            </div>
                                        </div>
                                        <div class="list-group" ng-repeat="item in items" style="width:220px; float:left; margin-left:10px;"> 
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Tier Plan</div>
                                                <span>Essential</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Quantity</div>
                                                <a href="#"><i class="fa fa-minus fa-fw red font-size-20"></i></a>
                                                <input class="quantity" placeholder="1" value="1" type="" name="" id="">
                                                <a href="#"><i class="fa fa-plus fa-fw red font-size-20"></i></a>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">SLA</div>
                                                <span>10 Hrs Restore, 10 Hrs SLA on P1 events. (Clock stops for after-Hrs)</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Monitoring</div>
                                                <span>Full Proactive Management</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Patching</div>
                                                <span>Monthly</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Security</div>
                                                <span>12 Hrs SLA on Urgent Security Patch's</span>
                                            </div>
                                            <div class="list-group-item justify-content-center align-items-center text-center" ng-click="getChildren(item)">
                                                <div class="museoMedium">Work Loads</div>
                                                <span>Non-critical business servers - development / tests, etc.</span>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-singtel-go-primary" data-dismiss="modal">&times;</div>
                        </div>
                    </div>
               </div>
            </section>
            <div class="mb-4">
                <div class="row align-items-center text-center text-sm-left">
                    <div class="col-sm-auto"><a href="contract-terms.html" class="btn btn-singtel-go-primary">Save</a></div>
                    <div class="col-sm-auto"><span>or</span></div>
                    <div class="col-sm-auto"><a class="avenirMedium" href="recommended-package.html">Reset Order Cart</a></div>
                </div> 
            </div>
        </div>
    </article>
    <footer class="footer">
        <div class="container">
            <div class="media-container-row content">
                <div class="row copyright align-items-center">
                    <div class="media-container-row content text-uppercase text-center col-lg-7">
                        <nav class="nav flex-column flex-sm-row justify-content-around">
                            <a class="nav-link" href="#">Data Protection</a>
                            <a class="nav-link" href="#">Terms of Use</a>
                            <a class="nav-link" href="#">Contact Us</a>
                        </nav>
                    </div>
                    <div class="col d-flex justify-content-center text-sm-right font-size-14">
                        © Singtel (CRN: 199201624D) All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/vendors/jquery.min.js"></script>
    <script src="js/vendors/popper.min.js"></script>
    <script src="js/vendors/bootstrap.min.js"></script>
    <script>
        $('a.card').on('click', function(e) {
            e.preventDefault();
            if(!$(e.currentTarget).hasClass('inactive')) {
                $(e.currentTarget).closest('.row').find('a.card').removeClass('active');
                $(e.currentTarget).toggleClass('active');
            }
        })
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script>
    $('.dropdown-toggle').dropdown();
        $('#siteNumber li').on('click', function() {
            $('#noOfSites').html($(this).find('a').html());
            });
    </script>
    <script>
    $(function() {
        var slides = $('#tierplans-slider ul').children().length;
        var slideWidth = $('#tierplans-slider').width();
        var min = 0;
        var max = -((slides - 1) * slideWidth);

        $("#tierplans-slider ul").width(slides*slideWidth).draggable({
            axis: 'x',
            drag: function (event, ui) {
                if (ui.position.left > min) ui.position.left = min;
                if (ui.position.left < max) ui.position.left = max;
            }
        });
    });
    var totalwidth = 190 * $('.list-group').length;
    $('.scoll-tree').css('width', totalwidth);
    </script>
</body>

</html>